body {
    margin: 0;
  font-family: monospace;
  background: linear-gradient(
    180deg,
    #f6d6e0 0%,
    #f1c2d1 100%
  );
  color: #111;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 40px 20px;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

h2 {
  font-weight: normal;
  opacity: 0.7;
}

h3 {
  margin-top: 40px;
  border-bottom: 1px solid #111;
  padding-bottom: 5px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li::before {
  content: "▸ ";
}

footer {
  margin-top: 60px;
  font-size: 0.9rem;
  opacity: 0.6;
}
